* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
}

.img-container {
    position: relative;
    width: 60%;
    border: 2px solid black;
    border-radius: 5px;
    margin: 50px auto;
}

img {
    display: block;
    width: 100%;
}

.icon1,
.icon2 {
    position: absolute;
    color: rgb(170, 170, 170);
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 300ms ease 0s;
}

.icon1:hover,
.icon2:hover {
    background-color: rgb(170, 170, 170);
    color: rgb(255, 255, 255);
}

.icon1 {
    left: 10px;
}

.icon2 {
    right: 10px;
}